---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: "website" | "article";
  pubDate?: Date;
  updatedDate?: Date;
}

const { title, description, image, type, pubDate, updatedDate } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      type={type}
      pubDate={pubDate}
      updatedDate={updatedDate}
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
